/* Custom Theme Design */

.header_logo {
    color: #ff4b4b;
}

.nav_list {
    display: flex;
    font-size: 24px;
    color: white;
    background-color:#4f353b ;
    justify-content: center;
}

.nav_list_menu:hover {
    background-color:#3a2222;
}

.aside_menu {
    color: #495863;
    height: 100%;
}

.aside_menu:hover {
    padding-left: 50px;
    background-color: #4f353b;
    transition: 0.5s;
}

.aside_menu_link {
    color: #485863;
    padding: 26px 0 26px 30px;
    display: flex;
}

.aside_menu_link:hover {
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 55px;
    padding: 25px 0;
    background: rgb(79 53 59 / 78%);
}

.footer_menu_link {
    color: white;
}

.footer_menu_link:hover {
    color: #000;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.footer_copyright {
    color: white;
    padding-right: 50px;
    font-size: 24px;
}
