/* General Theme Design */

.header_logo {
    color: #4BCAFF;
}

.nav_list {
    display: flex;
    font-size: 24px;
    color: white;
    background-color:#35444F ;
    justify-content: center;
}

.nav_list_menu:hover {
    background-color:#222F3A
}

.aside_menu {
    color: #495863;
    height: 100%;
}

.aside_menu:hover {
    padding-left: 50px;
    background-color: #DBDBDB;
    transition: 0.5s;
}

.aside_menu_link:hover {
    color: black;
}

.aside_menu_link{
    color: #485863;
    padding: 26px 0 26px 30px;
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 55px;
    padding: 25px 0;
    background: rgba(99, 105, 110, 0.48);
}

.footer_menu_link {
    color:#0C1927;
}

.footer_menu_link:hover {
    color:#3181A6 ;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6 ;
}
