body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80px;
    color: black;
    text-align: left;
    margin-bottom: 38px;
}

.container {
    margin: 0 auto;
    width: 1280px;
    padding: 20px 90px;
}

.header-link {
    color: black;
}

.nav_list {
    display: flex;
    font-size: 24px;
    color: white;
    background-color:#35444F ;
    justify-content: center;
}

.nav_list_menu {
    padding: 26px 40px 19px;
    border-left: 1px solid  white;
}

.nav_list_menu:hover {
    background-color:#222F3A
}

.nav_list_link {
    text-decoration: none;
    color: white;
}

.nav_list_menu:last-child {
    border-right: 1px solid white;
}

.aside{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border: 1px solid black;
    width: 342px;
    height: 399px;
    font-size: 27px;
}

.content {
    margin-left: 52px;

}

.content_image {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    padding: 75px 250px;
}

.content_image_hover:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.content_text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}

.main {
    display: flex;
    margin-top: 50px;
}

.footer_list {
    display: flex;
    font-size: 28px;

}

.footer_menu {
    padding-left: 40px;
}

.footer_copyright {
    padding-right: 50px;
    font-size: 24px;
}

#change-theme {
    border: 1px solid #ccbfbf;
    border-radius: 3px;
    padding: 10px 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
}

#change-theme:hover {
    background: #232020;
    color: #fff;
}

.current-theme {
    font-size: 10px;
    text-align: center;
}
